<div class="col-md-6 project-list">
    <h3>{{categoryName}} Reports</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
        <div class="col-md-8">
            {{!-- link user id and username --}}
            <div class="text-center">
                <h2><a href="/blog/post/{{id}}">{{description}}</a></h2>
                <p>report {{report}}</p>
                <p>Location: {{location}}</p>
                {{!-- <p>Date Seen: {{format_date timeSeen}}</p> --}}
                <p>Created by {{user.username}} on {{format_date timeFiled}}</p>
            </div>

        </div>
        {{!-- include check for if user's post before showing DELETE button --}}
        <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
        </div>
    </div>
    {{/each}}
</div>


{{!--
<script src="./js/blog.js"></script> --}}
