<section class="d-flex justify-content-center row">
  <div class="col-auto">
    <h2 class="pt-4">Welcome, {{username}}!</h2>
  </div>
</section>

<section class="ps-4 pt-5">
    <h3 class="text-center pb-2">Report a sighting</h3>
    <p class="ps-5">Be sure to use our search feature to see if other have had a similar experience</p>

    <form class="d-flex flex-wrap justify-content-evenly form new-sighting-form" id="sighting">
      <div class="p-3 form-group">
        <label for="sighting-report">Report</label>
        <textarea class="form-input" id="sighting-report" name="sighting-report" required></textarea>
      </div>
      <div class="p-3 form-group">
        <label for="sighting-description">Description of cryptid</label>
        <textarea class="form-input" id="sighting-description" name="sighting-description" required></textarea>
      </div>
      <div class="p-3 form-group">
        <label for="sighting-location">Location of sighting</label>
        <input class="form-input" type="text" id="sighting-location" name="sighting-name" required />
      </div>
      <div class="p-3 form-group">
        <label for="sighting-time">Time Seen</label>
        <textarea class="p-3 form-input" id="sighting-time" name="sighting-time" placeholder="year-month-date hour:minute"required></textarea>
      </div>
      <div>
        <label for="category">Choose a category</label>
          <select name="category" id="category">
            <option value="1">Cryptid</option>
            <option value="2">UFO</option>
            <option value="3">Paranormal</option>
            <option value="4">Other</option>
          </select>
      </div>  
      <div class="p-3 pb-5 form-group">
        <button type="submit" class="btn btn-primary">Report</button>
      </div>
    </form>
  </div>

 {{#if posts.length}}
 <div class="col-md-6 post-list">
  <h3>Current Report</h3>

  {{#each posts as |post|}}
  <div class="mb-2">
    <div class="col-md-8">
      <h4><a>{{description}}</a></h4>
      <p>Report: {{report}}</p>
      <p>Location: {{location}}</p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
    </div>
  </div>
  {{/each}}
 {{/if}}

</section>

<script src="./js/create.js"></script>