<div class="text-center">
  <h2>{{report}}</h2>
  <p>{{description}}</p>
  <p>{{location}}</p>
  <p>{{category}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary">Create Report</button>
  </p>
</div>
